.menu-bar__item{
  display:flex ;
  margin-inline: 350px;
}

.menu-bar__item > ul{
  display: flex;
  list-style: none;
}
.menu-bar__item > ul>li{
  padding: 5px;
  margin-right: 50px;

}
.menu-bar__item >ul >li >a{
  text-decoration: none;
  padding: 5px;
  color: rgb(7, 7, 7);
  font-size: 'Segoi UI';
}

.menu-bar__item >ul >li >a:hover{
  color: blue;
  font-size: 600;
}
